<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden">A<span id="js-rotating">Scientific, Humorous, Quiet, Conscientious</span>Gentleman</h4>
    </div>
    <div class="user-content center-align">
        <p>
            清越浅草，心诚则灵~
        </p>
        <p>
            生命不休，求索不止~
        </p>
    </div>
    <div>
        <span class="my-linkedin">My LinkedIn</span>
        <div class="linkedin-tag center-align">
            <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="zh_CN" data-type="horizontal" data-theme="light" data-vanity="庆-杨-43ba1a142"><a class="LI-simple-link" href='https://www.linkedin.com/in/%E5%BA%86-%E6%9D%A8-43ba1a142/'>yansicing</a></div>
        </div>
    </div>
</div>